body {
    background-color: whitesmoke;
}

nav {
    padding: 1, 4;
    background-color: #328284;
}


/* this is a comment*/

a:link {
    background-color: whitesmoke;
    padding: 10px;
    border: 6px double red;
}

a:hover {
    color: rgb(100, 156, 240);
}


/*
a:visited {
    color: #4f3558;
}
*/


/* #05a58d    #909095    #e9e7e9 */