/* this is a comment*/

body {
    background-color: rgb(240, 238, 236);
    color: black;
    /*border-style: solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;*/
}

nav {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.904);
}



h1 {
    color: Black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    text-align: center;

    letter-spacing: .8rem;
}
a{
    color:rgb(100, 156, 240);
}

a:link {
    color: rgb(100, 100, 100);
    padding: .7%;
    text-decoration: none;
}

a[href^="mailto"]:link {
    content: " : " attr(id);
    color: rgb(100, 100, 100);
}

a:hover {
    color: rgb(210, 240, 100);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

a[href^="mailto"]:hover:after {
    content: ": " attr(id);
    color: rgb(100, 156, 240);
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}

a:visited {
    background-color: #909095;
    padding: 10px;
    color: rgb(100, 156, 240);
    text-decoration: none;
}

table {
    table-layout: fixed;
    margin: auto;
    width: 100%;

    background: black;
}

tr {
    color: rgb(100, 100, 100);
}

td {
    padding: 5px;
}

.footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* #05a58d    #909095    #e9e7e9 */


/*
a:link {
    color: rgb(100, 100, 100);
    padding: .7%;
    text-decoration: none;
}

a:hover {
    color: rgb(210, 240, 100);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

a:visited {
    background-color: #909095;
    padding: 10px;
    color: rgb(100, 156, 240);
    text-decoration: none;
}*/